extends layout

block content

  h2 Environment #{environment}
  table.monitoring.sortable
    thead
        tr
        each propertyName in propertyNames
          th.propertyName= propertyName
        