!!!
%html
  %head
    %title= title
    %link{ rel: 'stylesheet', href: '/css/insight.css' }
    %script{ src:'/javascript/sorttable.js'}
    %script{ src:'/javascript/app.js'}
  %body{onload: 'initJS()'}
    = body
    
    
