!!!
%html
  %head
    %title= title
    %link{ rel: 'stylesheet', href: '/public/css/insight.css' }
    %script{ src:'/public/js/refresh.js'}
  %body{onload: 'refreshEvery60Seconds()'}
    = body
    %img{src:'/public/images/with-love-from-node-js-pos-128.png'}