body {
  font-family: "arial";
  background: #F5F5DC;
}

a {
  color:white;
  text-decoration: none;
}

.environments li {
    font-family: "arial";
    background: #EEAD0E;  
    -moz-border-radius: 8px 8px;
    border-bottom-left-radius: 8px 8px;
    border-bottom-right-radius: 8px 8px;
    border-top-left-radius: 8px 8px;
    border-top-right-radius: 8px 8px;
    color: white;
    display: block;
    float: left;
    font-size: 0.9em;
    margin: 0px 0.5em 0px 0px;
    padding: 0.3em 1em;
    text-decoration: none;
    margin-bottom: 20px;
}

ul.environments li:hover {
  background: #8B6508;
}

li.current {
  background: #8B6508;
}

div.content {
  clear:both;
  margin-left: 40px;
  margin-top: 10px;
  margin-right:40px;
}

table.monitoring {
  background: #FFFFF0;
  width: 100%;
  -moz-border-radius: 8px 8px;
  border-bottom-left-radius: 8px 8px;
  border-bottom-right-radius: 8px 8px;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
}

td {
  font-size: 1em;
}

th {
  text-align: left;
  margin-bottom: 10px;
}

td.deadServer {
  color:red;
}

tr.even td {
  background: #EEEEE0;
}
