%ul.navigation
  - each item in config
    -each name, value in item
      %li{class:value===environment && 'current'}
        %a{ href: '/status/' + value}=value
%h1= environment
%table
  %tr
    -each propertyName in propertyNames
      %th= propertyName
  -each status in states
    %tr
      -if (status.isUnavailable)
        %td.deadServer{colspan:10}= 'Server is unavailable: ' +  status.server
      -if (!status.isUnavailable)
        -each property, value in status
          %td= status[value].value || status[value] 




   

