%ul.navigation
  - each item in config
    -each name, value in item
      %li
        %a{ href: '/status/' + value}=value
%h1= environment
%table
  %tr
    -each property, value in states[0]
      %th= value
  -each status in states
    %tr
      -each property, value in status
        %td= status[value].value || status[value] 




   

