%h1 Welcome to Insight!
.info
  Insight will collate status information from applications in the following environments:
- each item in config
  %ul
    -each name, value in item
      %li
        %a{ href: '/status/' + value}=value




    