body {
    font-family: arial, sans-serif;
    font-size: 100%;
    background-color: #fff;
}

td {
    padding: 8px 7px 7px;
    line-height: 1;
    background-color: #fff;
    border: 1px solid #ccc;
}

th {
    background-color: #dcddde;
    font-size: 1em;
    vertical-align: middle;
    text-align: center;
    line-height: 1.2em;
}


  

