!!! Strict
%html(lang="en")
  %head
    %title&= title
  %body
    = contents

    .info
      Insight will collate information from apps in the following environments

      :each item in config
          %ul
            :each name, value in item
              %li&=  name


